/* SCSS Imports */
@import "imports";
@import "landing";

.hero-container {

    /* Hero-About*/
    .hero__about-section-container {
        padding-top: 3.6rem;
        background-color: $white;
        background-image: url("../images/meeting.jpg"), linear-gradient(to top, rgba(27, 27, 26, 0.788), 80%, rgb(100, 50, 21));
        background-blend-mode: multiply;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover ;
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 2rem;

        .hero__about-blurb-container {
            flex: 2;
            padding: 1rem 0 2rem 12rem;
            line-height: 1.5;

            * {
                color: $white;
            }

            h1 {
                @include h2;
                font-size: 1.5rem;
                color: $red;
            }

            h2 {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-weight: normal;
                font-size: 1.75rem;
                color: $white;
            }
        }

        .hero__about-milestone-container {
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 25rem;
            margin-left: 5rem;

            .hero__about-milestone-card {
                color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 9rem;
                flex: 1;
                row-gap: .5rem;
            }

            h3,
            p {
                font-family: Arial, Helvetica, sans-serif;
                padding: 0 .5rem;
                text-align: center;
            }

            h3 {
                font-weight: normal;
                font-size: 2rem;
            }

            .hero__about-milestone-card.one {
                background-color: $blue;
            }

            .hero__about-milestone-card.two {
                background-color: $red;
            }

            .hero__about-milestone-card.three {
                background-color: $mid-black;
            }
        }
    }

    @media screen and (max-width: 1350px) {
        .hero__about-section-container {
            flex-direction: column;
            padding-top: 7rem;
            row-gap: 5rem;
            text-align: center;

            .hero__about-blurb-container {
                padding: 0 4rem;
            }

            .hero__about-milestone-container {
                margin-left: 0;
            }
        }

   
    }

    @media screen and (max-width: 1024px) {
        .hero__about-section-container {
            .hero__about-blurb-container {
                padding: 0 2rem;

                h2 {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}



/* Main-About */
.main__about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    margin: 3rem 0;
    row-gap: 3rem;;

    h1 {
        @include h1;
        font-size: 2rem;
        letter-spacing: -2px;
        padding: 1rem 10vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        @include borderbottom;
    }

    .main__about-blurb-container {
        display: flex;
        flex-direction: row;
        column-gap: 5rem;
        margin: 0rem 12rem;

        .main__about-blurb-card {
            border-left: 2px solid $red;
            padding: 1rem;
        }

        h2 {
            font-weight: normal;
            letter-spacing: -2px;
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.45;
            text-indent: 1rem;
            color: grey;
        }
    }

    @media screen and (max-width: 1350px) {
        .main__about-blurb-container {
            margin: 2rem 4rem;
        }
    }


    @media screen and (max-width: 1024px) {
        h1 {
            text-align: center;
            padding: 1.5rem 0;
            margin: 1rem;
        }

        .main__about-blurb-container {
            flex-direction: column;
            row-gap: 3rem;
            margin: 2rem;
        }
    }

    button {
        @include button;
        @include cta-btn;
        @extend .main__landing-services-btn;
        margin-top: 2rem;

        a {
            font-size: 1.25rem;
            color: $white;
        }
    }

    button:hover {
        background-color: darkred;
    }
}

.main__about-contact {
    background-color: $mid-black;
    height: 10vh;
    width: 100%;
}