/* Fonts */
$main-font: 'Exo 2', sans-serif;
$hero-font: 'Anton', sans-serif;

/* Colors */
$grey: rgba(255, 255, 255, 0.116);
$mid-black: rgb(20, 20, 20);
$red: #D72323;
$green: rgb(3, 211, 3);
$orange: rgb(235, 160, 22);
$white: rgb(248, 248, 248);
$off-white: rgb(224, 224, 224);
$lite-white: rgb(199, 199, 199);
$blue: rgb(0, 153, 255);

/* Mixins */
@mixin button {
    padding: 1rem 1.25rem;
    border: none;
    cursor: pointer;
    border-radius: .25rem;
}

@mixin cta-btn {
    background-color: rgb(175, 12, 12);
}

@mixin neutral-btn {
    background-color: transparent;
    transition: all .15s;
    border: 2px solid $mid-black;
    margin: 1rem 0 1.5rem;
}

@mixin h1 {
    letter-spacing: -2px;
    font-size: 1.75rem;
    color: rgb(19, 18, 18);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
}

@mixin h2 {
    font-size: 1.25rem;
    font-weight: normal;
    color: rgb(54, 53, 53);
    letter-spacing: -1px;
}

@mixin borderbottom {
    border-bottom: 1px solid rgba(128, 128, 128, 0.11);
}