/* SCSS Imports */
@import "imports";
@import "landing";

/* Main-Tech */
body {
    overflow-x: hidden;
}

.main__tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    perspective: 1000px;

    h1 {
        margin-bottom: 1rem;
    }

    header {
        text-align: center;
        padding-top: 3.6rem;
        margin: 5rem 2rem 1rem;
        max-width: 80rem;
        display: flex;
        flex-direction: column;


        p {
            line-height: 1.35;
        }
    }

    @media screen and (max-width: 1024px) {
        header {
            margin: 2rem 2rem 1rem;
        }
    }

    button {
        @include button;
        @include neutral-btn;
        margin: 1rem 0 4rem;

        a {
            font-size: 1.25rem;
            color: $mid-black;
        }
    }

    button:hover {
        background-color: darkred;
        border: 2px solid darkred;

        a {
            color: $white;
        }
    }

    h1 {
        @include h1;
        @include borderbottom;
        padding: 0 15vw 1rem;
    }

    h2 {
        @include h2;
        margin-bottom: 3rem;

    }

    #current {
        border-left: 2px solid $red;
    }

    .main__tech-feature-container {
        background-image: radial-gradient(rgb(170, 42, 20), rgb(92, 13, 13));
        margin: 2.5rem;
        max-width: 75rem;
        display: flex;
        padding: 4rem;
        border-radius: .25rem;
        column-gap: 2rem;
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        box-shadow: 0px 0px .5rem grey;

        .main__tech-title-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $white;
            transition: all .15s;

            li {
                padding-left: .5rem;
                border-left: 2px solid transparent;
            }

            p {
                cursor: pointer;
                margin-bottom: 1.5rem;
            }
        }

        .main__tech-blurb-container {
            flex: 2;
            background-color: $white;
            padding: 1.5rem 3rem;
            display: none;
            width: 40rem;
            height: 20rem;
            overflow-y: scroll;
            border-radius: 5px;

            h2 {
                margin-bottom: 1rem;
                font-weight: 600;
            }

            p {
                margin-bottom: .5rem;
                line-height: 1.35;
            }

            ul {
                list-style: circle;

            }

            li {

                line-height: 2;
                list-style: disc;
                margin-left: 1.25rem;

            }
        }

        .main__tech-blurb-container.front-end.open,
        .main__tech-blurb-container.back-end.open,
        .main__tech-blurb-container.databases.open,
        .main__tech-blurb-container.big-data.open,
        .main__tech-blurb-container.desktop.open,
        .main__tech-blurb-container.cloud.open {
            display: block;
        }
    }

    @media screen and (max-width: 1024px) {
        .main__tech-feature-container {
            flex-direction: column;
            padding: 2rem;

            .main__tech-title-container {
                align-self: flex-start;
            }

            .main__tech-blurb-container {
                width: auto;
                height: auto;
                max-width: 40rem;
                max-height: auto;
            }
        }
    }

    .dots.tech {
        position: absolute;
        z-index: -1;

        padding: 10rem;
        height: fit-content;
        border-radius: 100%;
        background-image: radial-gradient(circle, #d47e7e 1px, rgba(0, 0, 0, 0) 1px);
    }

    .dots.tech.one {
        top: -5rem;
        left: 5rem;
    }

    .dots.tech.two {
        bottom: -5rem;
        right: 5rem;
    }

    .circle.tech {
        z-index: -1;
        padding: 20vw;
        position: absolute;
    }

    .circle.tech.one {
        left: 15rem;
        bottom: 2rem;
    }

    .circle.tech.two {
        right: -5rem;
        top: -5rem;
    }

    // ADD ANIMATION BETWEEN RENDERS

}