@import "imports";

.main.--tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    perspective: 1000px;
}

// tect-title > li border width attached to #current
#current {
    border-left: 3.5px solid $red;
}

.main {
    &__tech-header {
        text-align: center;
        padding-top: 3.6rem;
        margin: 5rem 2rem 1rem;
        max-width: 80rem;
        display: flex;
        flex-direction: column;

        h1 {
            @include h1;
            @include borderbottom;
            padding: 0 15vw 1rem;
        }

        p {
            line-height: 1.35;
        }

        h2 {
            @include h2;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }

        @media screen and (max-width: 1024px) {
            margin: 2rem 2rem 1rem;
        }
    }

    &__tech-button {
        @include button;
        @include neutral-btn;
        margin: 1rem 0 4rem;
        z-index: 100;
        background-color: $white;

        a {
            font-size: 1.25rem;
            color: $mid-black;
        }
    }

    &__tech-button:hover {
        background-color: darkred;
        border: 2px solid darkred;

        a {
            color: $white;
        }
    }

    &__tech-feature-container {
        background-image: radial-gradient(rgb(81, 132, 173), rgb(75, 98, 136));
        margin: 2.5rem;
        max-width: 75rem;
        display: flex;
        padding: 4rem;
        border-radius: .25rem;
        column-gap: 2rem;
        border-top-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        box-shadow: 0px 0px .5rem grey;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
            padding: 2rem;
            margin: 4rem 1rem;
            row-gap: 1rem;
        }
    }

    &__tech-title-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        transition: all .15s;
     
        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        // Border size attached to #current
        li {
            padding-left: .5rem;
            border: 3.5px solid transparent;
            border-radius: 5px;
        }

        p { 
            cursor: pointer;
            padding: .25rem;
        }

        @media screen and (max-width: 1024px) {
            align-self: flex-start;
        }
    }

    &__tech-blurb-container {
        flex: 2;
        background-color: $white;
        padding: 1.5rem 3rem;
        display: none;
        width: 40rem;
        min-height: 22rem;
        border-radius: 5px;
        background-image: radial-gradient($white, rgb(230, 230, 230));

        h2 {
            letter-spacing: -1px;
            @include h2;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        p {
            margin-bottom: .5rem;
            line-height: 1.35;
        }

        ul {
            list-style: circle;

        }

        li {
            line-height: 2;
            list-style: disc;
            margin-left: 1.25rem;
        }

        @media screen and (max-width: 1024px) {
            width: auto;
            height: auto;
            max-width: 40rem;
            max-height: auto;
            padding: 1.5rem;
        }
    }

    &__tech-blurb-container.front-end.open,
    &__tech-blurb-container.back-end.open,
    &__tech-blurb-container.databases.open,
    &__tech-blurb-container.big-data.open,
    &__tech-blurb-container.desktop.open,
    &__tech-blurb-container.cloud.open {
        display: block;
    }

    .dots.tech {
        position: absolute;
        z-index: -1;

        padding: 10rem;
        height: fit-content;
        border-radius: 100%;
        background-image: radial-gradient(circle, #d47e7e 1px, rgba(0, 0, 0, 0) 1px);
    }

    .dots.tech.--one {
        top: -5rem;
        left: 5rem;
    }

    .dots.tech.--two {
        bottom: -5rem;
        right: 5rem;
    }

    .circle.tech {
        z-index: -1;
        padding: 20vw;
        position: absolute;
    }

    .circle.tech.--one {
        left: 15rem;
        bottom: 2rem;
    }

    .circle.tech.--two {
        right: -5rem;
        top: -5rem;
    }
}