@charset "UTF-8";
/* SCSS Imports */ /* Fonts */
/* Colors */
/* Mixins */
/* SCSS Imports */ /* Fonts */
/* Colors */
/* Mixins */
/* Hero-Landing */
.hero-container.landing {
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .hero-container.landing {
    height: 80vh;
  }
}
.hero-container .hero__landing-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("../images/face.jpg");
  background-color: rgba(114, 99, 84, 0.973);
  background-blend-mode: luminosity;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 3.6rem;
}
.hero-container .hero__landing-image-wrapper .hero__landing-image-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  background-image: linear-gradient(rgb(20, 20, 20), 45%, rgba(0, 0, 0, 0.123));
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1450px) {
  .hero-container .hero__landing-image-wrapper .hero__landing-image-container {
    flex-direction: column;
    align-items: center;
  }
}
.hero-container .hero__landing-image-wrapper * {
  color: rgb(248, 248, 248);
  font-family: arial, sans-serif;
}
.hero-container .hero__landing-image-wrapper .hero__landing-main-tag {
  flex: 1;
  text-transform: uppercase;
  margin: 1.5rem 15.5rem 2rem 7.25rem;
  padding: 3rem 3rem;
  border-left: 2px solid rgba(255, 255, 255, 0.116);
  border-top: 2px solid rgba(255, 255, 255, 0.116);
}
.hero-container .hero__landing-image-wrapper .hero__landing-main-tag h3 {
  font-size: 8.5vw;
  color: rgb(248, 248, 248);
  letter-spacing: -13px;
  line-height: 0.85;
  cursor: default;
}
.hero-container .hero__landing-image-wrapper .hero__landing-main-tag h3:first-child {
  color: red;
}
.hero-container .hero__landing-image-wrapper .hero__landing-main-tag h3:nth-child(even) {
  padding-left: 5rem;
}
@media screen and (max-width: 1450px) {
  .hero-container .hero__landing-image-wrapper .hero__landing-main-tag {
    padding: 2rem 2rem;
    margin: 1.5rem 10.5rem 2rem 4.25rem;
  }
  .hero-container .hero__landing-image-wrapper .hero__landing-main-tag h3 {
    font-size: 8rem;
  }
}
@media screen and (max-width: 1000px) {
  .hero-container .hero__landing-image-wrapper .hero__landing-main-tag {
    margin: 0;
    border-left: none;
  }
  .hero-container .hero__landing-image-wrapper .hero__landing-main-tag h3 {
    font-size: 11vw;
    letter-spacing: -2px;
  }
}
@media screen and (max-width: 600px) {
  .hero-container .hero__landing-image-wrapper .hero__landing-main-tag h3 {
    font-size: 10vw;
    letter-spacing: -2px;
  }
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgba(255, 255, 255, 0.116);
  right: 7.25rem;
  bottom: 5.5rem;
  padding: 1rem 2rem;
  width: 35rem;
  font-size: 1.5rem;
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag * {
  margin-bottom: 0.85rem;
  font-family: "Exo 2", sans-serif;
  font-weight: normal;
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag h3 {
  color: rgb(248, 248, 248);
  font-style: italic;
  letter-spacing: -2.5px;
  font-size: 1.75rem;
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag h4 {
  letter-spacing: -1px;
  font-size: 1.1rem;
  color: rgb(224, 224, 224);
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag .machina {
  font-style: italic;
  text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.041);
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag .machina::after {
  content: ".co";
  color: #D72323;
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag .hero__landing-side-tag-button {
  padding: 1rem 1.25rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(175, 12, 12);
  align-self: flex-start;
  margin-top: 1rem;
  font-size: 1em;
  transition: all 0.15s;
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag .hero__landing-side-tag-button a {
  color: rgb(224, 224, 224);
}
.hero-container .hero__landing-image-wrapper .hero__landing-side-tag .hero__landing-side-tag-button:hover {
  background-color: darkred;
}
@media screen and (max-width: 1450px) {
  .hero-container .hero__landing-image-wrapper .hero__landing-side-tag {
    position: relative;
    right: 0;
    bottom: 2rem;
    left: 2.5rem;
    border: none;
  }
}
@media screen and (max-width: 1450px) {
  .hero-container .hero__landing-image-wrapper .hero__landing-side-tag {
    position: relative;
    right: 0;
    bottom: 2rem;
    left: 2.5rem;
    padding: 0;
    border: none;
  }
}
@media screen and (max-width: 1000px) {
  .hero-container .hero__landing-image-wrapper .hero__landing-side-tag {
    bottom: 2rem;
    left: 0;
    width: fit-content;
    padding: 1rem;
  }
}

/* Main-Landing */
.main__landing-services-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 51;
  padding: 3rem 0;
  background-color: rgb(248, 248, 248);
}
.main__landing-services-wrapper header {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 1rem 5vw;
  border-bottom: 1px solid rgba(128, 128, 128, 0.11);
}
.main__landing-services-wrapper header h1 {
  letter-spacing: -2px;
  font-size: 1.75rem;
  color: rgb(19, 18, 18);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, sans-serif;
}
.main__landing-services-wrapper header h2 {
  font-size: 1.25rem;
  font-weight: normal;
  color: rgb(54, 53, 53);
  letter-spacing: -1px;
}
.main__landing-services-wrapper .main__landing-services-container {
  position: relative;
  z-index: 50;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 95rem;
  margin: 2rem;
  perspective: 300px;
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 50;
  background-color: rgb(248, 248, 248);
  padding: 0rem 0 1rem;
  height: 40vh;
  transition: all 0.2s;
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card h2,
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card h3 {
  text-shadow: 0px 0px 5px rgb(88, 81, 124), 0px 0px 1rem black;
  font-weight: normal;
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card h2 {
  letter-spacing: -2px;
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card h3 {
  letter-spacing: -1px;
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card:hover {
  transform: rotateX(0.5deg);
  box-shadow: 0px 0px 2rem rgb(216, 170, 170);
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card.one {
  background-image: url("../images/arm.jpg"), linear-gradient(to top, rgb(22, 21, 21), 40%, transparent);
  background-blend-mode: hard-light;
  background-color: rgb(133, 134, 190);
  background-position: top;
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card.two {
  background-image: url("../images/ai.jpg"), linear-gradient(to top, rgb(22, 21, 21), 40%, transparent);
  background-color: rgb(135, 148, 148);
  background-blend-mode: hard-light;
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card.three {
  background-image: url("../images/cloud.jpg"), linear-gradient(to top, rgb(0, 0, 0), 40%, transparent);
  background-color: rgb(206, 65, 135);
  background-blend-mode: hard-light;
  background-position: center;
}
.main__landing-services-wrapper .main__landing-services-container .main__landing-services-card.four {
  background-image: url("../images/data.jpg"), linear-gradient(to top, rgb(22, 21, 21), 40%, transparent);
  background-blend-mode: hard-light;
}
@media screen and (max-width: 1024px) {
  .main__landing-services-wrapper .main__landing-services-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 630px) {
  .main__landing-services-wrapper header {
    text-align: center;
  }
  .main__landing-services-wrapper .main__landing-services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.main__landing-services-wrapper .main__landing-services-btn, .main__landing-services-wrapper .main__about-container button, .main__about-container .main__landing-services-wrapper button {
  padding: 1rem 1.25rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(248, 248, 248);
  transition: all 0.15s;
  border: 2px solid rgb(20, 20, 20);
  margin: 2.5rem 0 1.5rem;
  position: relative;
  z-index: 50;
}
.main__landing-services-wrapper .main__landing-services-btn a, .main__landing-services-wrapper .main__about-container button a, .main__about-container .main__landing-services-wrapper button a {
  color: rgb(20, 20, 20);
  font-size: 1.25rem;
}
.main__landing-services-wrapper .main__landing-services-btn:hover, .main__landing-services-wrapper .main__about-container button:hover, .main__about-container .main__landing-services-wrapper button:hover {
  background-color: darkred;
  border: 2px solid darkred;
}
.main__landing-services-wrapper .main__landing-services-btn:hover a, .main__landing-services-wrapper .main__about-container button:hover a, .main__about-container .main__landing-services-wrapper button:hover a {
  color: rgb(248, 248, 248);
}
.main__landing-services-wrapper .dots.main {
  position: absolute;
  z-index: 49;
  padding: 12.5rem;
  height: fit-content;
  border-radius: 100%;
  background-image: radial-gradient(circle, #d47e7e 1px, rgba(0, 0, 0, 0) 1px);
}
.main__landing-services-wrapper .dots.main.left {
  left: 10rem;
  top: 2rem;
}
.main__landing-services-wrapper .dots.main.right {
  right: 10rem;
  bottom: 2rem;
}

.landing__about-wrapper {
  width: 100%;
  height: 15vh;
  background-color: rgb(233, 233, 233);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 50;
}
.landing__about-wrapper h1 {
  letter-spacing: -2px;
  font-size: 1.75rem;
  color: rgb(19, 18, 18);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, sans-serif;
  position: relative;
  z-index: 50;
}
.landing__about-wrapper h2 {
  font-size: 1.25rem;
  font-weight: normal;
  color: rgb(54, 53, 53);
  letter-spacing: -1px;
  margin: 0.5rem;
  font-size: 1.2rem;
  position: relative;
  z-index: 50;
}
.landing__about-wrapper h2 a {
  cursor: pointer;
  padding: 0.25rem;
  transition: all 0.15s;
  color: rgb(54, 53, 53);
}
.landing__about-wrapper h2 a:hover {
  color: rgb(20, 20, 20);
  text-shadow: 0px 0px 1rem rgb(255, 217, 217);
}
.landing__about-wrapper h2 a::after {
  font-size: 0.9rem;
  margin-left: 0.35rem;
  content: "➤";
}
.landing__about-wrapper .circle {
  position: absolute;
  z-index: -100;
}
.landing__about-wrapper .circle.main.one {
  left: 20vw;
}
.landing__about-wrapper .circle.main.two {
  left: 25vw;
  bottom: -6vh;
}
.landing__about-wrapper .circle.main.three {
  right: 15vw;
  top: -6vh;
}

.hero-container {
  /* Hero-About*/
}
.hero-container .hero__about-section-container {
  padding-top: 3.6rem;
  background-color: rgb(248, 248, 248);
  background-image: url("../images/meeting.jpg"), linear-gradient(to top, rgba(27, 27, 26, 0.788), 80%, rgb(100, 50, 21));
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
}
.hero-container .hero__about-section-container .hero__about-blurb-container {
  flex: 2;
  padding: 1rem 0 2rem 12rem;
  line-height: 1.5;
}
.hero-container .hero__about-section-container .hero__about-blurb-container * {
  color: rgb(248, 248, 248);
}
.hero-container .hero__about-section-container .hero__about-blurb-container h1 {
  font-size: 1.25rem;
  font-weight: normal;
  color: rgb(54, 53, 53);
  letter-spacing: -1px;
  font-size: 1.5rem;
  color: #D72323;
}
.hero-container .hero__about-section-container .hero__about-blurb-container h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  font-size: 1.75rem;
  color: rgb(248, 248, 248);
}
.hero-container .hero__about-section-container .hero__about-milestone-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 25rem;
  margin-left: 5rem;
}
.hero-container .hero__about-section-container .hero__about-milestone-container .hero__about-milestone-card {
  color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9rem;
  flex: 1;
  row-gap: 0.5rem;
}
.hero-container .hero__about-section-container .hero__about-milestone-container h3,
.hero-container .hero__about-section-container .hero__about-milestone-container p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0.5rem;
  text-align: center;
}
.hero-container .hero__about-section-container .hero__about-milestone-container h3 {
  font-weight: normal;
  font-size: 2rem;
}
.hero-container .hero__about-section-container .hero__about-milestone-container .hero__about-milestone-card.one {
  background-color: rgb(0, 153, 255);
}
.hero-container .hero__about-section-container .hero__about-milestone-container .hero__about-milestone-card.two {
  background-color: #D72323;
}
.hero-container .hero__about-section-container .hero__about-milestone-container .hero__about-milestone-card.three {
  background-color: rgb(20, 20, 20);
}
@media screen and (max-width: 1350px) {
  .hero-container .hero__about-section-container {
    flex-direction: column;
    padding-top: 7rem;
    row-gap: 5rem;
    text-align: center;
  }
  .hero-container .hero__about-section-container .hero__about-blurb-container {
    padding: 0 4rem;
  }
  .hero-container .hero__about-section-container .hero__about-milestone-container {
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .hero-container .hero__about-section-container .hero__about-blurb-container {
    padding: 0 2rem;
  }
  .hero-container .hero__about-section-container .hero__about-blurb-container h2 {
    margin-bottom: 1rem;
  }
}

/* Main-About */
.main__about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin: 3rem 0;
}
.main__about-container h1 {
  letter-spacing: -2px;
  font-size: 1.75rem;
  color: rgb(19, 18, 18);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif, sans-serif;
  font-size: 2rem;
  letter-spacing: -2px;
  padding: 2rem 10vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px solid rgba(128, 128, 128, 0.11);
}
.main__about-container .main__about-blurb-container {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  margin: 3rem 12rem;
}
.main__about-container .main__about-blurb-container .main__about-blurb-card {
  border-left: 2px solid #D72323;
  padding: 1rem;
}
.main__about-container .main__about-blurb-container h2 {
  font-weight: normal;
  letter-spacing: -2px;
  margin-bottom: 1rem;
}
.main__about-container .main__about-blurb-container p {
  line-height: 1.45;
  text-indent: 1rem;
  color: grey;
}
@media screen and (max-width: 1350px) {
  .main__about-container .main__about-blurb-container {
    margin: 2rem 4rem;
  }
}
@media screen and (max-width: 1024px) {
  .main__about-container h1 {
    text-align: center;
    padding: 1.5rem 0;
    margin: 1rem;
  }
  .main__about-container .main__about-blurb-container {
    flex-direction: column;
    row-gap: 3rem;
    margin: 2rem;
  }
}
.main__about-container button {
  padding: 1rem 1.25rem;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(175, 12, 12);
  margin-top: 2rem;
}
.main__about-container button a {
  font-size: 1.25rem;
  color: rgb(248, 248, 248);
}
.main__about-container button:hover {
  background-color: darkred;
}

.main__about-contact {
  background-color: rgb(20, 20, 20);
  height: 10vh;
  width: 100%;
}/*# sourceMappingURL=about.css.map */